@import "tailwindcss";

:root {
  --gold: #d4af37;
  --gold-dark: #b8860b;
  --cream: #faf8f6;
  --dark: #1e1a18;
}

body {
  @apply bg-cream text-dark;
}


@theme inline {
  --color-gold: #d4af37;
  --color-gold-moon: #dbb88c;
  --color-gold-dark: #b8860b;
  --color-cream: #faf8f6;
  --color-dark: #1e1a18;
  --color-dark-faint: #6b6560;
  /* --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}